* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color:hsl(0, 0%, 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:"Figtree", sans-serif; 
}
.container {
    background-color:hsl(47, 88%, 63%);
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card {
    background-color:hsl(0, 0%, 100%);
    width:375px;
    padding:20px;
    border-radius:15px;
    box-shadow:6px 6px 0 hsl(0, 0%, 7%);
}
.img-wrapper {
    width:100%;
    overflow:hidden;
    border-radius:10px;
}
.img-wrapper img {
    width:100%;
    height:auto;
}

.article-info {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
    padding:10px;
    margin:10px;
}
.article-info .category {
    background-color:hsl(47, 88%, 63%);
    padding:3px 5px;
    border-radius:5px;
    font-size:15px;
    color:hsl(0, 0%, 7%);
    font-weight:500;
}
.article-info p {
    color:hsl(0, 0%, 7%);
    font-size:15px;
    font-weight:500;
    opacity:0.5;
}
.article-info h2 {
    font-size:20px;
    font-weight:800;
    color:hsl(0, 0%, 7%);
}
.card .description {
    padding:10px 15px;
    opacity:0.6;
    
}
.author {
   display:flex;
   align-items:center; 

}
.author img {
    width:50px;
    height:50px;
    border-radius:50%;
    margin:10px;
}
.author .name {
    font-size:15px;
    font-weight:600;
    color:hsl(0, 0%, 42%);
    margin:10px;
}
    .attribution {
        display:none;
    }
   
   
